div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.caption {
    display: block;
}

.callout {
    text-align: center;
    border: dashed 1px blue;
    color: blue;
    padding: 0.5rem 0.5rem;
}

.description {
    max-width: 75vw;
    text-align: justify;
    margin: auto;
}

@media only screen and (max-width: 767px) {

    /* For Tablets phones: */
    .description {
        max-width: 85vw;
    }
}

@media only screen and (max-width: 599px) {

    /* For mobile phones: */
    .description {
        max-width: 95vw;
    }
}